<!DOCTYPE html>
<html lang="zxx">
    <head>
        <link href="https://static.wixstatic.com/media/b86fa7_e7ddf11ecc404884a9315632acf40e7a%7Emv2_d_1200_1200_s_2.png/v1/fill/w_32%2Ch_32%2Clg_1%2Cusm_0.66_1.00_0.01/b86fa7_e7ddf11ecc404884a9315632acf40e7a%7Emv2_d_1200_1200_s_2.png" rel="shortcut icon"/>
        <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i" rel="stylesheet">
        <div class="header-warp">
            <a href="/" class="site-logo">
                <img src="/static/img/optix.jpg" alt="">
            </a>
        </div>
        <center>
            <link rel="stylesheet" href="/static/style.css">
            <title>BeatTheAI.io</title>
            <h1>BeatTheAI.io</h1>

            <p>Created by DNHS Students: Raadwan, Alvin, Nolan, Abhinav</p>
            <h2 id="roleInfo">Select Your Role:</h2>

            <button>
            <a href="./draw" class="myButton" style="text-decoration: none;">Drawer</a>
            </button>
            <button>
            <a href="./guess" class="myButton" style="text-decoration: none;">Guesser</a>
            </button>
        </center>
    </head>

    <center>
        <h3>   </h3>
        <h5>
            <img src="/static/img/optixlogo.jpg" alt="">
        </h5>
    </center>
</html>