#banner {
    background-color: saddlebrown;
}
 
body {
    background-color: rgb(6, 14, 138);
}

canvas {
    background-color: white;
}
 
.bodyText {
    color: #5b120c;
}


button {
    border-radius: 8px;
    color: rgb(17, 78, 11);
}