#banner {
    background-color: saddlebrown;
}
 
body {
    background-color: rgb(0, 17, 255);
}

canvas {
    background-color: white;
}
 
.bodyText {
    color: #5b120c;
}


/*
button {
    border-radius: 8px;
    color: rgb(255, 255, 255);
}